*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

#form{background-color: aqua;}
.section{
  align-content: center;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-size: cover;
}
.footer{
  color:#7fff00;
  text-decoration: none;
  text-align: center;
  background-color: rgb(197, 21, 57);
  line-height: 30px;
}
.nav{
  background-color: #00a5e6;
  height: 80px;
  width: 100%;
}
#se{
  background-size: cover ;
  height: calc(100vh - 80px);
  text-align: center;
  color: rgb(103, 211, 15);
}

label.logo{
  color: wheat;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right ;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: whitesmoke;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: crosshair;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  label.logo{
    font-size: 20px;
    position: relative;
    /* padding-left: 50px; */
  }
  .section{
    width: 100%;
  }
  .checkbtn{
    display: block;
  }
  ul{
    
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: rgb(127, 255, 0); */
    /* background-image: url(d.jpg); */
    top: 80px;
    left: -100%;
    transition: all .5s;
    text-align: center;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
} 